<div class="headerpage">
    <div class="header header-blue dark-text">
        <div class="container">
            <nav class="navigation nav-menu-centered">


                <ul class="nav-menu align-self-center" >
                    <li><a href="/stumanage/home" style="font-size:25px;">首页</a></li>


                    <li><a href="/stumanage/to_sel" style="font-size: 25px;">&nbsp;&nbsp;选择课程</a></li>

                    <li><a href="/stumanage/seled_course" style="font-size: 25px;">&nbsp;&nbsp;已选课程</a></li>

                    <li><a href="/stumanage/userinfo" style="font-size: 25px;">&nbsp;&nbsp;个人信息</a></li>
                </ul>



                <ul class="nev-menu nav-menu-social align-to-right" style="vertical-align: center">

                </ul>

                <ul class="nev-menu nav-menu-social align-to-right">
                    <li>
                        <div class="btn-group account-drop">
                            <button type="button" class="btn btn-order-by-filt" data-toggle="dropdown">
                                <img src="/img/default-avatar.jpg" class="avater-img">
                                <th th:text="${user.nickname}" >
                            </button>

                            <div class="dropdown-menu pull-right animated flipInY">
                                <a href="/stumanage/to_sel">
                                    <i class="ti-layers"></i>选择课程
                                </a>
                                <a href="/stumanage/seled_course">
                                    <i class="ti-hummer"></i>已选课程
                                </a>
                                <a href="/stumanage/userinfo">
                                    <i class="ti-info"></i>个人信息
                                </a>
                                <a href="/login/tologin">
                                    <i class="ti-power-off"></i>登出
                                </a>
                            </div>

                        </div>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
</div>