<!DOCTYPE html>

<html lang="en">
<head>
    <title>Z选课系统</title>
    <link rel="stylesheet"  href="/bootstrap/css/styles.css">
    <link rel="stylesheet" href="/bootstrap/css/colors.css">
    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" src="/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/jquery-validation/localization/messages_zh.min.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="/layer/layer.js"></script>
    <!-- md5.js -->
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/daterangepicker.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/imagesloaded.js"></script>
    <script src="/js/ion.rangeSlider.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/markerclusterer.js"></script>


    <script src="/js/morris.min.js"></script>
    <script src="/js/raphael.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/slider-bg.js"></script>
    <script src="/js/script.js"></script>



</head>
<body>
<div th:insert="stuhead.html"></div>
<div class="container-fluid p-0">
    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="property_dashboard_navbar">
        <div class="dash_user_menues">
            <ul>
                <li></li>


                <li></li>
                <li class="active">
                    <a href="/stumanage/to_sel" style="color:white">
                        <i class="ti-hummer"></i>&nbsp;选择课程
                    </a>
                </li>
                <li></li>
                <li >
                    <a href="/stumanage/seled_course" style="color:white">
                        <i class="ti-gift"></i>&nbsp;已选课程
                    </a>
                </li>
                <li></li>
                <li>
                    <a href="/stumanage/info" style="color:white">
                        <i class="ti-user"></i>&nbsp;个人信息
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class = "dashboard-body">
                <div class="dashboard-wraper">

<table class="table" id="courselist" >
    <tr><td>课程id</td><td>课程名</td><td>课程教师</td><td>选课时间</td><td>选课剩余量</td><td>详情</td></tr>
    <tr th:each="course,coursesStat : ${coursesList}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.teacherName}"></td>
        <td th:text="${course.startDate}"></td>
        <td th:text="${course.courseRemain}"></td>
        <td><a th:href="'/c_detail.htm?courseId='+${course.id}">详情</a></td>
    </tr>
</table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="adend.html"></div>
</body>
</html>